<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ExampleView</title>
</head>
<link rel="stylesheet" href=" " th:href="@{/css/myStyle.css}" />
<body>
	<h1>This is exampleView Page</h1>

	<div class="container">
	<img class="profile" alt="" src="" th:src="@{/images/laptop.png}">
	
		<h2>Adding CSS, JS, img</h2>
		<p>Service Purpose: The Service layer contains business logic. It
			sits between the Controller and DAO layers and is responsible for
			orchestrating the application’s business rules.</p>
	</div>
	
	
	<script src=""  th:src="@{/js/myJs.js}"></script>
	
</body>
</html>